<% layout('layouts/boilerplate') %>
<body>
    <h1>Edit Book</h1>
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="<%= book.title %>" required>
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="<%= book.author %>" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" required><%= book.description %></textarea>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" step="0.01" id="price" name="price" value="<%= book.price %>" required>
        </div>
        <div>
            <label for="image">Image URL:</label>
            <input type="text" id="image" name="image" value="<%= book.image %>" required>
        </div>
        <button type="submit">Update Book</button>
    </form>
    
</body>
